[Desktop Entry]
Name=Tuquito RSS Preferences
Name[es]=Preferencias de Tuquito RSS
Name[pt]=Preferências do Tuquito RSS
Comment=Notifier official Tuquito sites
Comment[es]=Notificador de los sitios oficiales de Tuquito
Comment[pt]=Notificador dos sites oficiais do Tuquito
Type=Application
Exec=/usr/lib/tuquito/trss/trss-pref.py
Icon=/usr/lib/tuquito/trss/trss.png
Terminal=false
Categories=Settings;
