Source: trss
Section: misc
Priority: extra
Maintainer: Mario Colque <mario@tuquito.org.ar>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1
Homepage: http://www.tuquito.org.ar

Package: trss
Architecture: all
Depends: python-feedparser (>= 4.0), python, python-notify, sox
Description: Lector de RSS de Tuquito
 Tuquito RSS es un notificador de eventos en los sitios oficiales de Tuquito, pequeño y ligero para el Escritorio de Tuquito. Totalmente configurable y con posibilidad de agregar nuevas fuentes RSS.
