[Desktop Entry]
Name=Tuquito RSS
Comment=Notificador de eventos en los sitios oficiales de Tuquito GNU/Linux
Comment[en]=Notificador de eventos en los sitios oficiales de Tuquito GNU/Linux
Comment[fr]=Notificador de eventos en los sitios oficiales de Tuquito GNU/Linux
Comment[it]=Notificador de eventos en los sitios oficiales de Tuquito GNU/Linux
Comment[pt]=Notificador de eventos en los sitios oficiales de Tuquito GNU/Linux
Comment[pt_BR]=Notificador de eventos en los sitios oficiales de Tuquito GNU/Linux
Type=Application
Exec=trss
Icon=/usr/lib/tuquito/trss/trss.png
Terminal=false
Categories=Utility;
